body {
  background-image: url("https://takethecake.s3.eu-west-2.amazonaws.com/bakingbg.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.cake-list-container {
  max-width: 700px;
  width: 100%;
}